<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h3>Show Users</h3>
    Name: <%= name %> <br>
    Lastname: <%= lastname %> <br>
    Email: <%= email %> <br>
    Sex: <%= sex %>

    <p> <a href="/create">Create User</a></p>
</body>
</html>